//Approach

@use "./mixins" as *;
// Section
@include block("Approach") {

  h2{
    font-size: 2.5rem;
    color: var(--dark-green);
    & > strong{
      color: var(--neon-green-on-white);
    }
  }

  ul {
    li {
        display: block;
        margin-bottom: 20px;
        font-size: 1.2rem;
        line-height: 1.5;
        
        strong {
            color: var(--neon-green-on-white);
            font-weight: bold;
            font-size: 1.4rem;
            display: block;
        }
    }
  }
}
