@use "./mixins" as *;
// HomePage
@include block("RealWorldImpact") {

  h2{
    font-size: 2.5rem;
    color: var(--dark-green);
    & > strong{
      color: var(--neon-green-on-white);
    }
  }

  h3{
    text-align: center;
     font-size: 1.8rem;
    color: var(--neon-green-on-white);
  }

  ul{
    display: flex;
    align-items: start;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;
    padding: 0px 40px 40px 40px;
    gap: 40px;
    li{
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        div{
            svg{
                width: 100px;
                height: 100px;
                fill: var(--neon-green-on-white);
            }
            padding: 20px;
        }
        span{
            strong{
                display: block;
                font-size: 1.4rem;
                margin-bottom: 10px;
            }
        }
    }
  }
  
}
