@use "./mixins" as *;
// HomePage
@include block("SellingPoints") {

  h2{
    font-size: 2.5rem;
    color: var(--dark-green);
    & > strong{
      color: var(--neon-green-on-white);
    }
  }

  ul{
    display: flex;
    flex-direction: column;
    gap: 60px;

    li{
        div{
            &:first-of-type{
                font-size: 1.2rem;
                background-color: var(--dark-green);
                color: var(--neon-green);
                border-radius: 20px;
                padding: 5px 15px;
                display: inline-block;
                position: absolute;
                z-index: 2;
                margin-top: -15px;
                margin-left: 40px;
            }

            &:last-of-type{
                font-size: 1.8rem;
                padding: 40px;
                border-radius: 40px;
                background-color: var(--light-grey);
                line-height: 1.2;
                font-weight: 600;
                font-style: italic;
                margin: auto;
            }
        }
    }
  }
  
}
