
@use "./mixins" as *;
// HomePage
@include block("WhoShouldAttend") {

  h2{
    font-size: 2.5rem;
    color: var(--dark-green);
    & > strong{
      color: var(--neon-green-on-white);
    }
  }

  ul{
    li{
        display: flex;
        align-items: center;

        & > span {
            font-size: 1.2rem;
            color: var(--dark-green);
            padding-left: 10px;

            

            &:first-of-type{
                & > svg {
                    width: 50px;
                    height: 50px;
                    fill: var(--dark-green);
                }
            }
        }

        & + li {
            margin-top: 10px;
        }
    }
  }
  
}
