@use "./mixins" as *;
// HomePage
@include block("WhoWeAre") {


  h2{
    font-size: 2.5rem;
    color: var(--dark-green);
    & > strong{
      color: var(--neon-green-on-white);
    }
  }

  @include element("people") {
    display: flex;
    gap: 40px;
  }

  

  @include element("person") {

    color: var(--dark-green);
    font-size: 1.2rem;
    padding-bottom: 160px;
    

    picture{
      display: block;
      max-width: 300px;
      height: 250px;
      overflow: hidden;

      img{
        width: 100%;
        height: 100%;
        object-fit: fill;
        object-position: bottom
      }
    }

    a {
      display: block;
      padding: 5px 0px;
    }

    ul{
      margin: 0px;

      li{
        margin: 5px;
        text-decoration: none;
        list-style: none;
        height:25px;
      }
    }
  }
  
}
