@use "./mixins" as *;
// HomePage
@include block("WhyAi") {

  h2{
    font-size: 2.5rem;
    color: var(--dark-green);
    line-height: 1.1;
    & > strong{
      color: var(--neon-green-on-white);
    }
  }
  
}
